node_modules/

# Firebase Configuration
util/config.js

# Firebase Admin Configuration
util/cedar-mingle-firebase-adminsdk-dev.json
util/cedar-mingle-firebase-adminsdk-prod.json

# SMTP Configuration
util/smtp.js